	<%= render 'layouts/slider.html.erb'%>

	<!-- WRAPPER -->
	<div class="wrapper">

		<!-- PORTFOLIO -->
		<section class="module-small p-t-20 p-b-0 p-t-sm-0">

			<div class="container hidden-xs">

				<!-- PORTFOLIO FILTER -->
				<div class="row">
					<div class="col-sm-12">

						<ul id="filters" class="filter font-inc">
							<li><a href="#" data-filter="*" class="current wow fadeInUp">All</a></li>
							<li><a href="#" data-filter=".illustration" class="wow fadeInUp" data-wow-delay="0.2s">Illustration</a></li>
							<li><a href="#" data-filter=".marketing" class="wow fadeInUp" data-wow-delay="0.4s">Marketing</a></li>
							<li><a href="#" data-filter=".photography" class="wow fadeInUp" data-wow-delay="0.6s">Photography</a></li>
							<li><a href="#" data-filter=".webdesign" class="wow fadeInUp" data-wow-delay="0.8s">Web Design</a></li>
						</ul>

					</div>
				</div>
				<!-- /PORTFOLIO FILTER -->

			</div>

			<!-- PORTFOLIO LIST -->
			<ul id="works-grid" class="works-grid works-grid-masonry works-grid-3 works-hover-w">

				<!-- PORTFOLIO ITEM -->
				<li class="work-item illustration webdesign">
					<%= link_to("", portfolio_pages_path) %>
						<div class="work-image">
							<%= image_tag("work-masonry-1.jpg")%>
						</div>
						<div class="work-caption">
							<h3 class="work-title font-alt">Corporate Identity</h3>
							<div class="work-descr font-inc">
								Illustration
							</div>
						</div>
					</a>
				</li>
				<!-- /PORTFOLIO ITEM -->

				<!-- PORTFOLIO ITEM -->
				<li class="work-item marketing photography">
					<%= link_to("", portfolio_pages_path) %>
						<div class="work-image">
							<%= image_tag("work-2.jpg")%>
						</div>
						<div class="work-caption">
							<h3 class="work-title font-alt">Bag MockUp</h3>
							<div class="work-descr font-inc">
								Marketing
							</div>
						</div>
					</a>
				</li>
				<!-- /PORTFOLIO ITEM -->

				<!-- PORTFOLIO ITEM -->
				<li class="work-item illustration photography">
					<%= link_to("", portfolio_pages_path) %>
						<div class="work-image">
							<%= image_tag("work-3.jpg")%>
						</div>
						<div class="work-caption">
							<h3 class="work-title font-alt">Disk Cover</h3>
							<div class="work-descr font-inc">
								Illustration
							</div>
						</div>
					</a>
				</li>
				<!-- /PORTFOLIO ITEM -->

				<!-- PORTFOLIO ITEM -->
				<li class="work-item marketing photography">
					<%= link_to("", portfolio_pages_path) %>
						<div class="work-image">
							<%= image_tag("work-4.jpg")%>
						</div>
						<div class="work-caption">
							<h3 class="work-title font-alt">Business Card</h3>
							<div class="work-descr font-inc">
								Photography
							</div>
						</div>
					</a>
				</li>
				<!-- /PORTFOLIO ITEM -->

				<!-- PORTFOLIO ITEM -->
				<li class="work-item illustration webdesign">
					<%= link_to("", portfolio_pages_path) %>
						<div class="work-image">
							<%= image_tag("work-masonry-2.jpg")%>
						</div>
						<div class="work-caption">
							<h3 class="work-title font-alt">Business Cards</h3>
							<div class="work-descr font-inc">
								Webdesign
							</div>
						</div>
					</a>
				</li>
				<!-- /PORTFOLIO ITEM -->

				<!-- PORTFOLIO ITEM -->
				<li class="work-item marketing webdesign">
					<%= link_to("", portfolio_pages_path) %>
						<div class="work-image">
							<%= image_tag("work-6.jpg")%>
						</div>
						<div class="work-caption">
							<h3 class="work-title font-alt">Business Cards in paper clip</h3>
							<div class="work-descr font-inc">
								Marketing
							</div>
						</div>
					</a>
				</li>
				<!-- /PORTFOLIO ITEM -->

				<!-- PORTFOLIO ITEM -->
				<li class="work-item marketing webdesign">
					<%= link_to("", portfolio_pages_path) %>
						<div class="work-image">
							<%= image_tag("work-7.jpg")%>
						</div>
						<div class="work-caption">
							<h3 class="work-title font-alt">Business Cards in paper clip</h3>
							<div class="work-descr font-inc">
								Marketing
							</div>
						</div>
					</a>
				</li>
				<!-- /PORTFOLIO ITEM -->

			</ul>
			<!-- /PORTFOLIO LIST -->

		</section>
		<!-- /PORTFOLIO -->

		<!-- TESTIMONIAL -->
		<section class="module-small">

			<div class="container">

				<div class="row">

					<!-- MODULE TITLE -->
					<div class="col-sm-6">
						<h2 class="module-title font-alt">Hue & Sat</h2>
					</div>
					<!-- /MODULE TITLE -->

					<!-- BLOCKQUOTE -->
					<div class="col-sm-6">
						<blockquote class="font-serif align-right">
							<p>The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>
							<p class="font-inc font-uppercase">- Thomas Anderson</p>
						</blockquote>
					</div>
					<!-- /BLOCKQUOTE -->

				</div>

			</div>

		</section>
		<!-- /TESTIMONIAL -->

		<!-- CALL TO ACTION BUTTON -->
		<section>
			<div class="container">
				<div class="row">
					<button type="button" class="btn btn-success" style="width:100%; height:100px;font-size: 30px;">See the Hue & Sat portfolio!</button>
				</div>
			</div>
		</section>	
		<!-- /CALL TO ACTION BUTTON -->
	</div>
	<!-- /WRAPPER -->

	<!-- Scroll-up -->
	<div class="scroll-up">
		<a href="#totop"><i class="fa fa-angle-double-up"></i></a>
	</div>