<%= render "layouts/navigation" %>

	<!-- HOME -->
	<section id="home" class="module-hero module-parallax module-fade">

		<div class="hero-slider">
			<ul class="slides">

				<!-- SLIDE -->
				<li class="bg-dark">

					<div class="slidebg slide-zoom bg-dark-50" style="background-image:url('/assets/section-2.jpg')"></div>

					<div class="hs-caption container">
						<div class="caption-content">
							<div class="hs-title-size-3 font-alt m-b-20">
								We are Semantic
							</div>
							<div class="hs-title-size-1 font-inc">
								A wonderful serenity has taken possession of my entire soul, like these<br/> sweet mornings of spring which I enjoy with my whole heart
							</div>
						</div>
					</div>

				</li>
				<!-- /SLIDE -->

				<!-- SLIDE -->
				<li class="bg-light">

					<div class="slidebg slide-zoom bg-light-50" style="background-image:url('/assets/section-9.jpg')"></div>

					<div class="hs-caption container">
						<div class="caption-content left">
							<div class="hs-title-size-3 font-alt m-b-20">
								Incoming call
							</div>
							<div class="hs-title-size-1 font-inc">
								A wonderful serenity has taken possession of my entire soul, like these<br/> sweet mornings of spring which I enjoy with my whole heart
							</div>
						</div>
					</div>

				</li>
				<!-- /SLIDE -->

				<!-- SLIDE -->
				<li class="bg-dark">

					<div class="slidebg slide-zoom bg-dark-50" style="background-image:url('/assets/section-5.jpg')"></div>

					<div class="hs-caption container">
						<div class="caption-content right">
							<div class="hs-title-size-3 font-alt m-b-20">
								Yellow coat
							</div>
							<div class="hs-title-size-1 font-inc">
								A wonderful serenity has taken possession of my entire soul, like these<br/> sweet mornings of spring which I enjoy with my whole heart
							</div>
						</div>
					</div>

				</li>
				<!-- /SLIDE -->

			</ul>
		</div>

	</section >
	<!-- /HOME -->

	<!-- WRAPPER -->
	<div class="wrapper">

		<!-- PORTFOLIO -->
		<section class="module-small p-t-20 p-b-0 p-t-sm-0">

			<div class="container hidden-xs">

				<!-- PORTFOLIO FILTER -->
				<div class="row">
					<div class="col-sm-12">

						<ul id="filters" class="filter font-inc">
							<li><a href="#" data-filter="*" class="current wow fadeInUp">All</a></li>
							<li><a href="#" data-filter=".illustration" class="wow fadeInUp" data-wow-delay="0.2s">Illustration</a></li>
							<li><a href="#" data-filter=".marketing" class="wow fadeInUp" data-wow-delay="0.4s">Marketing</a></li>
							<li><a href="#" data-filter=".photography" class="wow fadeInUp" data-wow-delay="0.6s">Photography</a></li>
							<li><a href="#" data-filter=".webdesign" class="wow fadeInUp" data-wow-delay="0.8s">Web Design</a></li>
						</ul>

					</div>
				</div>
				<!-- /PORTFOLIO FILTER -->

			</div>

			<!-- PORTFOLIO LIST -->
			<ul id="works-grid" class="works-grid works-grid-masonry works-grid-3 works-hover-w">

				<!-- PORTFOLIO ITEM -->
				<li class="work-item illustration webdesign">
					<a href="portfolio-single-1.html">
						<div class="work-image">
							<%= image_tag("work-masonry-1.jpg") %>
						</div>
						<div class="work-caption">
							<h3 class="work-title font-alt">Corporate Identity</h3>
							<div class="work-descr font-inc">
								Illustration
							</div>
						</div>
					</a>
				</li>
				<!-- /PORTFOLIO ITEM -->

				<!-- PORTFOLIO ITEM -->
				<li class="work-item marketing photography">
					<a href="portfolio-single-1.html">
						<div class="work-image">
							<%= image_tag("work-2.jpg") %>
						</div>
						<div class="work-caption">
							<h3 class="work-title font-alt">Bag MockUp</h3>
							<div class="work-descr font-inc">
								Marketing
							</div>
						</div>
					</a>
				</li>
				<!-- /PORTFOLIO ITEM -->

				<!-- PORTFOLIO ITEM -->
				<li class="work-item illustration photography">
					<a href="portfolio-single-1.html">
						<div class="work-image">
							<%= image_tag("work-3.jpg") %>
						</div>
						<div class="work-caption">
							<h3 class="work-title font-alt">Disk Cover</h3>
							<div class="work-descr font-inc">
								Illustration
							</div>
						</div>
					</a>
				</li>
				<!-- /PORTFOLIO ITEM -->

				<!-- PORTFOLIO ITEM -->
				<li class="work-item marketing photography">
					<a href="portfolio-single-1.html">
						<div class="work-image">
							<%= image_tag("work-4.jpg") %>
						</div>
						<div class="work-caption">
							<h3 class="work-title font-alt">Business Card</h3>
							<div class="work-descr font-inc">
								Photography
							</div>
						</div>
					</a>
				</li>
				<!-- /PORTFOLIO ITEM -->

				<!-- PORTFOLIO ITEM -->
				<li class="work-item illustration webdesign">
					<a href="portfolio-single-1.html">
						<div class="work-image">
							<%= image_tag("work-masonry-2.jpg") %>
						</div>
						<div class="work-caption">
							<h3 class="work-title font-alt">Business Cards</h3>
							<div class="work-descr font-inc">
								Webdesign
							</div>
						</div>
					</a>
				</li>
				<!-- /PORTFOLIO ITEM -->

				<!-- PORTFOLIO ITEM -->
				<li class="work-item marketing webdesign">
					<a href="portfolio-single-1.html">
						<div class="work-image">
							<%= image_tag("work-6.jpg") %>
						</div>
						<div class="work-caption">
							<h3 class="work-title font-alt">Business Cards in paper clip</h3>
							<div class="work-descr font-inc">
								Marketing
							</div>
						</div>
					</a>
				</li>
				<!-- /PORTFOLIO ITEM -->

				<!-- PORTFOLIO ITEM -->
				<li class="work-item marketing webdesign">
					<a href="portfolio-single-1.html">
						<div class="work-image">
							<%= image_tag("work-7.jpg") %>
						</div>
						<div class="work-caption">
							<h3 class="work-title font-alt">Business Cards in paper clip</h3>
							<div class="work-descr font-inc">
								Marketing
							</div>
						</div>
					</a>
				</li>
				<!-- /PORTFOLIO ITEM -->

			</ul>
			<!-- /PORTFOLIO LIST -->

		</section>
		<!-- /PORTFOLIO -->

		<!-- TESTIMONIAL -->
		<section class="module-small">

			<div class="container">

				<div class="row">

					<!-- MODULE TITLE -->
					<div class="col-sm-6">
						<h2 class="module-title font-alt">Someone quote</h2>
					</div>
					<!-- /MODULE TITLE -->

					<!-- BLOCKQUOTE -->
					<div class="col-sm-6">
						<blockquote class="font-serif align-right">
							<p>The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>
							<p class="font-inc font-uppercase">- Thomas Anderson</p>
						</blockquote>
					</div>
					<!-- /BLOCKQUOTE -->

				</div>

			</div>

		</section>
		<!-- /TESTIMONIAL -->


		<!-- CONTACT -->
		<section class="module-small">
		
			<div class="container">
		
				<div class="row">
		
					<!-- CONTENT BOX -->
					<div class="col-sm-4">
						<div class="content-box">
							<div class="content-box-icon">
								<span class="icon-map-pin"></span>
							</div>
							<div class="content-box-title font-inc">
								007 Steet, City, USA
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->
		
					<!-- CONTENT BOX -->
					<div class="col-sm-4">
						<div class="content-box">
							<div class="content-box-icon">
								<span class="icon-phone"></span>
							</div>
							<div class="content-box-title font-inc">
								+1 234 567 89 00
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->
		
					<!-- CONTENT BOX -->
					<div class="col-sm-4">
						<div class="content-box">
							<div class="content-box-icon">
								<span class="icon-envelope"></span>
							</div>
							<div class="content-box-title font-inc">
								semantic@email.com
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->
		
				</div>
		
			</div>
		
		</section>
		<!-- /CONTACT -->

		<!-- FOOTER -->
		<footer class="footer">
		
			<div class="container">
		
				<div class="row">
		
					<div class="col-sm-12 text-center">
						<p class="copyright font-inc m-b-0">© 2015 <a href="index.html">SEMANTIC</a>, All Rights Reserved.</p>
					</div>
		
				</div>
		
			</div>
		
		</footer>
		<!-- /FOOTER -->

	</div>
	<!-- /WRAPPER -->

	<!-- Scroll-up -->
	<div class="scroll-up">
		<a href="#totop"><i class="fa fa-angle-double-up"></i></a>
	</div>
	


