
<div id="landing-background">
	<%= image_tag("landingpage/background.png") %>
	<div class="landing-fade" id="fade-01"> <%= image_tag("landingpage/logo.svg") %>     </div>
	<div class="landing-fade" id="fade-02"> <%= image_tag("landingpage/fades-07.png") %> </div>
	<div class="landing-fade" id="fade-03"> <%= image_tag("landingpage/fades-06.png") %> </div>
	<div class="landing-fade" id="fade-04"> <%= image_tag("landingpage/fades-05.png") %> </div>
	<div class="landing-fade" id="fade-05"> <%= image_tag("landingpage/fades-04.png") %> </div>
	<div class="landing-fade" id="fade-06"> <%= image_tag("landingpage/fades-03.png") %> </div>
	<div class="landing-fade" id="fade-07"> <%= image_tag("landingpage/fades-02.png") %> </div>
	<div class="landing-fade" id="fade-08"> <%= image_tag("landingpage/soon.png") %> </div>

	<div> <%= link_to(" ", 'https://www.facebook.com/pages/Huesat/291007531022915', class: 'social-icon', id: 'social-01') %> </div>
	<div> <%= link_to(" ", 'https://instagram.com/hueandsat', class: 'social-icon', id: 'social-02') %> </div>
	<div> <%= link_to(" ", 'http://diarioadn.co/barranquilla/mi-ciudad/hue-sat-con-estilo-a-mano-1.153418', class: 'social-icon', id: 'social-03') %> </div>

</div>